@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    color: #000;
    background: #fff;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #FFE6E6;

}

header {
    height: clamp(100px, 10vh, 200px);
    width: 100%;
    background-color: #897373;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-image {
    height: 100%;
    display: block;
    box-sizing: content-box;
}

.logo {
    top: 38px;
    margin-right: clamp(10px, 8px + 3%, 210px);
    height: 100%;
    position: center;
    display: flex;
    align-items: end;
    justify-content: center;

}

.image-container {
    width: 396px;
    height: 396px;
    position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-stretch: expanded;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    color: #FFFFFF;
    font-size: clamp(60px, 3vw, 85px);
    line-height: 76%;
}

.tag-text {
    position: relative;
    right: unset;
    left: 10px;
    top: 10px;
    color: #ffffff;
    background-color: #ff4a4a;
    border-radius: 50px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    display: table-cell;
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    border: 0;
    padding: 0 10px;
    text-transform: uppercase;
}

footer {
    background-color: #897373;
}

.footer-line-container {
    position: absolute;
    width: 100%;
    padding-top: 30px;
}

.footer-line {
    color: #FFFFFF;
    opacity: 0.2;
    height: 0;
    box-shadow: none;
    width: 50%;
}

.copyright-text {
    text-align: center;
    padding-top: 70px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.55;
    opacity: 0.5;
    color: white;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


.coin-image {
    width: 21px;
    position: absolute;
    margin-top: -1px;
}


.cost-container {
    display: -webkit-box;
    padding-top: 14px;
    text-align: left;
}


.cost {
    display: contents;
    position: relative;
    height: auto;
}

.cost-discounted {
    padding-left: 25px;
    color: #bdbdbd;
    text-decoration: line-through;
}

.cost-full {
    display: contents;
    text-decoration: line-through;
}