@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    color: #000;
    background: #fff;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #FFE6E6;

}

header {
    height: clamp(100px, 10vh, 200px);
    width: 100%;
    background-color: #897373;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-image {
    height: 100%;
    display: block;
    box-sizing: content-box;
}

.logo {
    top: 38px;
    margin-right: clamp(10px, 8px + 3%, 210px);
    height: 100%;
    position: center;
    display: flex;
    align-items: end;
    justify-content: center;

}

.logo-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-stretch: expanded;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    color: #FFFFFF;
    font-size: clamp(60px, 3vw, 85px);
    line-height: 76%;
}

footer {
    background-color: #897373;
}
.footer-line-container {
    position: absolute;
    width: 100%;
    padding-top: 30px;
}

.footer-line {
    color: #FFFFFF;
    opacity: 0.2;
    height: 0;
    box-shadow: none;
    width: 50%;
}
.copyright-text {
    text-align: center;
    padding-top: 70px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.55;
    opacity: 0.5;
    color: white;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}